.App {
  text-align: center;
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.login-form, .details {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.add-listing {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-right: 10px;
}

.login-button {
  margin-top: 25px !important;
  background-color: gainsboro;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.navbar {
  background-color: mediumseagreen;
}

.logged-in {
  background-color: lightgray;
  color: darkgray;
  padding: 5px 20px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.nav-list-item:hover, .biz-name:hover {
  cursor: pointer;
}

.biz-name {
  text-decoration: underline;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}

.icon {
  font-size: inherit
}

.icon:hover {
  cursor: pointer
}

.text-gray {
  color: gray
}

.text-red {
  color: red;
}

.pin {
  transform: scale(1.5);
}

